.l-header {
  position: fixed;
  width: 80%;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  &__hamburger {
    display: none;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 20px;
    h1 {
      margin-right: 30px;
    }
  }
  &__navbar {
    ul {
      display: flex;
      gap: 50px;
      a {
        @include fontRoboto();
        padding-bottom: 5px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 3px;
          background-color: $colorBrown;
          transition: width 0.5s ease;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  &__login {
    display: flex;
    gap: 20px;
    .login-btn {
      padding: 20px 40px;
      a {
        @include fontRoboto();
      }
    }
    .active {
      border: 2px solid $colorWhite;
      border-radius: 50px;
    }
  }
}
.show.l-header {
  .l-header__navbar {
    right: 10px;
  }
}
@media screen and (max-width: 900px) {
  .l-header {
    width: 100%;
    padding: 50px;
    &__navbar {
      transition: all 1s ease-in-out;
      position: absolute;
      top: 85px;
      right: -600px;
      ul {
        background-color: $colorWhite;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 320px;
        gap: 10px;
        border-radius: 20px;
        padding: 20px;
        li {
          width: 100%;

          a {
            display: block;
            width: 100%;
            padding: 20px;
            text-align: center;
            color: $colorBlack;

            &::hover {
              border-color: $colorSalmon;
            }
          }
        }
      }
    }
    &__login {
      display: none;
    }
    &__hamburger {
      cursor: pointer;
      display: block;
      background-color: $colorWhite;
      padding: 20px;
      border-radius: 50px;
      .line {
        background-color: $colorBlack;
        width: 40px;
        height: 5px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: -10px;
          background-color: $colorBlack;
          width: 40px;
          height: 5px;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -10px;
          background-color: $colorBlack;
          width: 40px;
          height: 5px;
        }
      }
    }
  }
}
