@media screen and (max-width: 900px) {
  .l-header {
    width: 100%;
    padding: 50px;
    &__navbar {
      display: none;
    }
    &__login {
      display: none;
    }
    &__hamburger {
      cursor: pointer;
      display: block;
      background-color: $colorWhite;
      padding: 20px;
      border-radius: 50px;
      .line {
        background-color: $colorBlack;
        width: 40px;
        height: 5px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: -10px;
          background-color: $colorBlack;
          width: 40px;
          height: 5px;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -10px;
          background-color: $colorBlack;
          width: 40px;
          height: 5px;
        }
      }
    }
  }
  .wrapper {
    width: 100%;
    height: 100%;
  }
  .service {
    &__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .destination {
    &__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .c-card {
        width: 100%;
      }
    }
  }
  .subscribe {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 38px;
    &__txt {
      margin: 0;
      h2 {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        line-height: 1.6;
      }
      p {
        width: 300px;
        margin: 20px auto;
        text-align: center;
      }
    }
    &__input {
      input {
        width: 100%;
      }
    }
  }
  .footer {
    padding: 0 30px;
    &-box {
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
    }
    &__download {
      margin-top: 20px;
    }
  }
}
